<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Request Check</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>
<body>
<header style="height: 30px;background-color: maroon;">
</header>
<div class="container">
  <h2>Customer Enquiry Page
  </h2>
  <img th:src="@{/images/customer-en.png}" alt="Logo" style="height: 120px"/>
  <div style="width: 70%">
  
   <form th:action="@{/customer/account/saveAddress}" method="POST"   >
  
    <div class="form-group">
      <label for="name">First Name:</label>
      <input type="text" style="width: 60%;" class="form-control" name="firstName" placeholder="Enter first name">
    </div>
  
    <div class="form-group">
      <label for="email">Last Name</label>
      <input type="text" class="form-control" name="firstName" placeholder="Enter last name">
    </div>
    <div class="form-group">
      <label for="mobile">Mobile:</label>
      <input type="text" style="width: 60%;" name="mobileNumber"  class="form-control" placeholder="Enter mobile">
    </div>
    <div class="form-group">
      <label for="mobile">Address Line 1:</label>
      <input type="text" style="width: 60%;" name="addressLine1"  class="form-control" placeholder="Enter address line 1">
    </div>
    <div class="form-group">
      <label for="mobile">Address Line 2:</label>
      <input type="text" style="width: 60%;" name="addressLine2"  class="form-control" placeholder="Enter address line 2">
    </div>
    <div class="form-group">
      <label for="mobile">City:</label>
      <input type="text" style="width: 60%;" name="city"  class="form-control" placeholder="Enter city">
    </div>
    <div class="form-group">
      <label for="mobile">State:</label>
      <input type="text" style="width: 60%;" name="state"  class="form-control" placeholder="Enter state">
    </div>
    <div class="form-group">
      <label for="mobile">Zip Code:</label>
      <input type="text" style="width: 60%;" name="zipCode"  class="form-control" placeholder="Enter zipcode">
    </div>
    <div class="form-group">
      <label for="mobile">Country:</label>
      <input type="text" style="width: 60%;" name="country"  class="form-control" placeholder="Enter country">
    </div>
    
     <div class="form-group">
      <label for="accType">A/C type:</label>
      <select style="width: 60%;"  class="form-control" name="accType}">
         <option value="SAVING">SAVING</option>
         <option value="CURRENT">CURRENT</option>
         <option value="CORPORATE">CORPORATE</option>
         <option value="CHECKING">CHECKING</option>
      </select>
    </div>
   
   <div class="form-group">
      <label for="location">Location:</label>
      <select style="width: 80%;"  class="form-control" name="location">
         <option value="Fremont">Fremont</option>
         <option value="California">California</option>
      </select>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit </button>
    <a th:href="@{/customer/login}"> 
    <button type="button" class="btn btn-danger">Login</button>
    </a>
  </form>
  </div>
  <br/>
  <br/>
</div>
<footer  class="ffooter">
</footer>

</body>
</html>
